<!DOCTYPE html>
<html>

  <head>
    <title>MailGrabber</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/png" href="<%= root_path %>/images/mail_grabber515x500.png" />
    <link rel="stylesheet" href="<%= root_path %>/stylesheets/application.css" type="text/css" charset="utf-8">

    <script src="<%= root_path %>/javascripts/application.js"></script>
  </head>

  <body data-root-path="<%= root_path %>">
    <h1 class="border-bottom no-margin padding-20">
      M<img src="<%= root_path %>/images/mail_grabber515x500.png" height="22" />ilGrabber
    </h1>

    <div class="row height-90">
      <div class="flex-30 border-right">
        <ul class="no-bullet no-margin padding-20">
          <div class="row">
            <li class="flex-50 align-center background-color-light-green border-bottom border-right border-top cursor-pointer padding-16" data-content-type="message-reload-tab">
              Reload
            </li>
            <li class="flex-50 align-center background-color-light-red border-bottom border-top cursor-pointer padding-16" data-content-type="message-clear-tab">
              Clear
            </li>
          </div>
        </ul>

        <ul class="height-89_2 line-height-1_5 no-bullet no-margin padding-20 vertical-scroll" data-content-type="message-list">
        </ul>
      </div>

      <div class="flex-70 padding-20 vertical-scroll" data-content-type="message-content" data-background-image="<%= root_path %>/images/mail_grabber515x500.png">
      </div>
    </div>

    <%= render '_message_list_template.html.erb' %>
    <%= render '_message_content_template.html.erb' %>
    <%= render '_message_attachment_template.html.erb' %>
  </body>
</html>
